.main-nav {
	z-index: 3;
	width: 250px;
}

.rs-link {
	width: 50%;
}

.pointer {
	cursor: pointer;
}

.w3-sidenav {
	a, button {
		&:focus {
			outline: none;
			color: indianred;
		}

		padding: 16px;
		font-weight: bold;
	}

	button {
		&.menu-dd {
			span {
				pointer-events: none;
			}
		}

		text-align: left;
		width: 100%;
		background: none;
		border: none;
	}
}